.section--breadcrumbs {
	padding-top: 30px;
	padding-bottom: 8px;

	.breadcrumbs {
		ul {
			margin: 0;
			padding: 0;

			li {
				display: inline-block;
				list-style-type: none;
				font-size: 12px;
				line-height: 15px;

				&:not(:first-child) {
					&::before {
						color: #909090;
						content: ' / ';
					}
				}
				&:last-child {
					&::before {
						color: #000;
					}
				}

				a {
					color: #909090;
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}
