.button {
	position: relative;
	display: inline-block;
	padding: 24px 35px 23px;
	background: transparent;
	border: 0;
	font-size: 12px;
	letter-spacing: 0.175em;
	line-height: 1.3;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.2s;

	@include mobile {
		padding: 17px 20px 16px;
		font-size: 10px;
		line-height: 13px;
	}

	&:focus {
		outline: none;
	}

	&::before,
	&::after {
		position: absolute;
		left: 0;
		width: 100%;
		height: 1px;
		background-size: 100% 1px;
		content: '';
	}

	&::before {
		top: 0;
	}

	&::after {
		bottom: 0;
		transform: scaleX(-1)
	}

	&--light {
		border-left: 1px solid #fff;
		border-right: 1px solid #fff;
		color: #fff;

		&::before,
		&::after {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='1px'%3E%3Cline x1='0' y1='0' x2='100%25' y2='0' stroke='%23fff' stroke-width='2px' stroke-dasharray='17px 7px 11px 7px 1000px'%3E%3C/line%3E%3C/svg%3E");
		}

		&:hover {
			background: #fff;
			color: #000;
		}
	}

	&--dark {
		border-left: 1px solid #000;
		border-right: 1px solid #000;
		color: #000;

		&::before,
		&::after {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='1px'%3E%3Cline x1='0' y1='0' x2='100%25' y2='0' stroke='%23000' stroke-width='2px' stroke-dasharray='17px 7px 11px 7px 1000px'%3E%3C/line%3E%3C/svg%3E");
		}

		&:hover {
			background: #000;
			color: #fff;
		}
	}

}


.form {
	input[type="text"],
	input[type="email"],
	input[type="tel"] {
		padding: 18px 25px;
		border: 1px solid rgba(#080808, 0.3);
		font-size: 14px;
		line-height: 18px;
		letter-spacing: 0.175em;
		text-transform: uppercase;
		color: #080808;
		transition: border-color 0.3s;
		background: transparent;

		@include mobile {
			padding: 15px 20px;
			font-size: 12px;
			line-height: 15px;
		}

		&:focus {
			outline: none;
			border-color: #080808;
		}

		&::placeholder {
			color: rgba(#080808, 0.5);
		}

		&.wpcf7-not-valid {
			border-color: red;
			background: rgba(red, 0.2);
		}
	}	

	p {
		margin: 0;
	}

	.wpcf7-not-valid-tip, .wpcf7-response-output {
		display: none !important;
	}
}
