.header {
	position: relative;
	z-index: 1020;

	.row {
		padding: 47px 0;
		justify-content: space-between;

		@include mobile {
			padding: 20px 0;
		}
	}

	.header__logo {
		position: relative;
		z-index: 200;

		a {
			display: block;
			margin-bottom: 21px;

			@include tablet {
				margin-bottom: 0;
			}

			img {
				max-width: 100%;

				@include mobile {
					height: 16px;
				}
			}
		}

		p {
			margin-bottom: 0;
			font-size: 12px;
			line-height: 15px;

			@include tablet {
				display: none;
			}
		}
	}

	.header__nav {
		position: relative;

		@include tablet {
			visibility: hidden;
			position: fixed;
			top: 128px;
			left: 0;
			width: 100vw;
			height: 100vh;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 0 30px 60px;
			background: rgba(#000, 0.9);

			transform: translateY(-100%);
			transition: transform 0.5s;
		}

		@include mobile {
			top: 61px;
		}

		ul {
			display: flex;
			margin: 0;
			padding: 0;

			@include tablet {
				display: inline-block;
				max-height: 100%;
				overflow-y: auto;
			}

			li {
				list-style-type: none;

				@include tablet {
					width: 100%;
				}

				a {
					display: block;
					padding: 7px 25px 0;
					font-size: 10px;
					line-height: 21px;
					letter-spacing: 0.1em;
					text-transform: uppercase;
					text-decoration: none;

					@media screen and (max-width: 1200px) {
						padding: 5px 10px 0;
					}

					@include tablet {
						display: inline;
						font-size: 16px;
						line-height: 405.8%;
						letter-spacing: 0.1em;
						text-align: left;
					}

					span {
						position: relative;
						padding-bottom: 9px;
					}
				}

				&.active {
					a {
						span {
							&::after {
								position: absolute;
								bottom: 0;
								left: 0;
								width: 100%;
								height: 1px;
								transform: scaleX(-1);
								content: '';
							}
						}
					}
				}

				&:last-child {
					a {
						padding-right: 0;
					}
				}
			}



			&.active-line {
				li {
					a {
						span {
							&::after {
								display: none;

								@include tablet {
									display: block;
								}
							}
						}
					}
				}
			}
		}

		.line {
			position: absolute;
			top: 33px;
			left: 20px;
			transition: all 0.3s;

			@media screen and (max-width: 1200px) {
				top: 31px;
			}

			@include tablet {
				display: none;
			}

			&::after {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 1px;
				transform: scaleX(-1);
				content: '';
			}
		}
	}

	.burger-col {
		@include tablet {
			display: block !important;
		}

		.header__burger {
			position: relative;
			width: 46px;
			height: 20px;
			padding: 7px;
			background: transparent;
			border: 0;
			cursor: pointer;


			&::before {
				position: absolute;
				top: 7px;
				left: 7px;
				width: 32px;
				height: 1px;
				background: #fff;
				content: '';
				transition: transform 0.3s;
			}

			&::after {
				position: absolute;
				bottom: 7px;
				right: 7px;
				width: 21px;
				height: 1px;
				background: #fff;
				content: '';
				transition: transform 0.3s, width 0.2s;
			}

			&:hover {
				&::after {
					width: 32px;
				}
			}

			&:focus {
				outline: none;
			}
		}
	}

	&--light {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;

		.header__logo {
			p {
				color: #fff;
			}
		}

		.header__nav {
			ul {
				li {
					a {
						color: #fff;

						span {
							&::after {
								background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='1px'%3E%3Cline x1='0' y1='0' x2='100%25' y2='0' stroke='%23fff' stroke-width='1px' stroke-dasharray='17px 7px 11px 7px 1000px'%3E%3C/line%3E%3C/svg%3E");
							}
						}
					}
				}
			}

			.line {
				&::after {
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='1px'%3E%3Cline x1='0' y1='0' x2='100%25' y2='0' stroke='%23fff' stroke-width='1px' stroke-dasharray='17px 7px 11px 7px 1000px'%3E%3C/line%3E%3C/svg%3E");
				}
			}
		}
	}

	&--dark {
		.header__logo {
			p {
				color: #000;
			}
		}

		.header__nav {
			ul {

				li {

					a {
						color: #000;

						span {

							&::after {
								background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='1px'%3E%3Cline x1='0' y1='0' x2='100%25' y2='0' stroke='%23000' stroke-width='0.5px' stroke-dasharray='17px 7px 11px 7px 1000px'%3E%3C/line%3E%3C/svg%3E");
							}
						}
					}
				}
			}

			.line {
				&::after {
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='1px'%3E%3Cline x1='0' y1='0' x2='100%25' y2='0' stroke='%23000' stroke-width='0.5px' stroke-dasharray='17px 7px 11px 7px 1000px'%3E%3C/line%3E%3C/svg%3E");
				}
			}
		}

		.burger-col {
			.header__burger {

				&::before,
				&::after {
					background: #000;
				}
			}
		}
	}
}

.mobile-menu {
	.header__nav {
		visibility: visible;
		display: flex;
		transform: translateY(0);
		z-index: -1;

		ul {
			margin-bottom: 100px;

			li {
				a {
					color: #fff;

					span {

						&::after {
							background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='1px'%3E%3Cline x1='0' y1='0' x2='100%25' y2='0' stroke='%23fff' stroke-width='1px' stroke-dasharray='17px 7px 11px 7px 1000px'%3E%3C/line%3E%3C/svg%3E");
						}
					}
				}
			}
		}
	}

	.header {
		background: rgba(#000, 0.9);

		&--dark {
			.header__logo {
				a {
					img {
						filter: invert(100%);
					}
				}
			}

			.burger-col {
				.header__burger {

					&::before,
					&::after {
						background: #fff;
					}
				}
			}
		}
	}

	.burger-col {
		.header__burger {

			&::before,
			&::after {
				top: 50%;
				left: 50%;
				bottom: auto;
				right: auto;
				width: 32px;
			}

			&::before {
				transform: translateX(-50%) rotate(45deg);
			}

			&::after {
				transform: translateX(-50%) rotate(-45deg);
			}
		}
	}
}
