/**************************\
  Basic Modal Styles
\**************************/

.modal {
	position: relative;
	z-index: 9990;
}

.modal__overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal__container {
	background-color: #fff;
	padding: 30px;
	width: 100%;
	max-width: 400px;
	max-height: 100vh;
	overflow-y: auto;
	box-sizing: border-box;
}

.modal__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.modal__title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 30px;
	line-height: 1.25;
	color: #000;
}

.modal__close {
	background: transparent;
	border: 0;
	cursor: pointer;
	transition: opacity 0.2s;

	&:hover {
		opacity: 0.7;
	}

	&:focus {
		outline: none;
	}
}

.modal__header .modal__close:before {
	font-size: 30px;
	content: "\2715";
}

.modal__content {
	margin-top: 2rem;
	margin-bottom: 2rem;
	line-height: 1.5;
	color: rgba(0, 0, 0, .8);

	p {
		margin: 0;
	}

	.subtitle {
		margin-bottom: 30px;
	}

	.form {
		display: flex;
		flex-direction: column;

		input {
			width: 100%;
			margin-bottom: 20px;
		}

		.wpcf7-form-control-wrap {
			width: 100%;
        }
	}

	&--success {
		text-align: center;

		p {
			margin: 50px 0;
			font-size: 24px;

			small {
				font-size: 15px;
			}
		}

		.button {
			min-width: 150px;
			padding-top: 17px;
			padding-bottom: 18px;
		}
	}
}



/**************************\
    Demo Animation Style
  \**************************/
@keyframes mmfadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes mmfadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes mmslideIn {
	from {
		transform: translateY(15%);
	}

	to {
		transform: translateY(0);
	}
}

@keyframes mmslideOut {
	from {
		transform: translateY(0);
	}

	to {
		transform: translateY(-10%);
	}
}

.micromodal-slide {
	display: none;
}

.micromodal-slide.is-open {
	display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
	animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
	animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
	animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
	animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
	will-change: transform;
}
