.results {
	flex-wrap: wrap;

	&__elem {
		width: 100%;
		max-width: calc(100% / 3);
		margin-bottom: 32px;
		padding: 0 90px 0 35px;

		.icon-wrapper {
			width: 173px;
			height: 173px;
			border-radius: 50%;
			background: #C4C4C4;
			overflow: hidden;

			img {
				width: 100%;
			}
		}

		.text-wrapper {
			display: inline-block;
			margin-top: -60px;
			padding-left: 86px;

			p {
				margin-bottom: 0;
				font-size: 20px;
				line-height: 25px;

				span {
					display: block;
					font-size: 100px;
					font-weight: 100;
					line-height: 126px;
				}
			}
		}
	}
}
