.results {
	flex-wrap: wrap;

	&__elem {
		width: 100%;
		max-width: calc(100% / 3);
		margin-bottom: 32px;
		padding: 0 90px 0 35px;

		@include tablet {
			padding: 0 35px;
		}

		@include mobile {
			max-width: 50%;
			margin-bottom: 20px;
			padding: 0 20px;
		}

		@media screen and (max-width:550px) {
			max-width: 100%;
		}

		.icon-wrapper {
			width: 173px;
			height: 173px;
			border-radius: 50%;
			background: #C4C4C4;
			overflow: hidden;

			@include mobile {
				display: none;
			}

			img {
				width: 100%;
			}
		}

		.text-wrapper {
			display: inline-block;
			margin-top: -60px;
			padding-left: 86px;

			@include mobile {
				margin-top: 0;
				padding-left: 0;
			}
			span {
				display: block;
				font-size: 100px;
				font-weight: 100;
				line-height: 126px;

				@include mobile {
					font-size: 80px;
					line-height: 70px;
				}
			}

			p {
				margin-bottom: 0;
				font-size: 20px;
				line-height: 25px;			

				br {
					@media screen and (max-width:550px) {
						display: none;
					}
				}
			}
		}
	}
}
