//Хлебные крошки
section.section.section--breadcrumbs
    .container
        .breadcrumbs
            ul
                li
                    a(href="/") Главная
                li
                    a(href="catalog.html") Каталог изделий
                li
                    a(href="catalog.html") Раковины и мойки
                li
                    span Раковина из бетона "Чаша"