section.section.section--product
    .container
        h1 Раковина из бетона "Чаша"
        .product-block.row
            .img-col.col
                img(src="images/product/product.jpg", alt="")
            .description-col.col
                .description
                    h2 Описание
                    p Бетонная раковина "Айсберг" 
                        br
                        | на металическом подстолье с выдвижным ящиком
                .params
                    h2 Характеристики
                    ul
                        li Вес:	14 кг
                        li Размер раковины:	1000 х 500 х 100
                        li Размер чаши: 500 х 380 х 120
                        li Размер с подстольем: 1000 х 500 х 850
                .get-3d-wrapper
                    a(href="#").get-3d Скачать 3D
                p.price 76 230 ₽
                    
        .info-wrapper
            .text-block
                h2 Материалы и особенности
                .row
                    .col
                        p Накладная раковина из бетона "Чаша" – это классика жанра. Это бетон во всем своем проявлении. И это универсальный дизайн. Самое приятное, что внутри чаши пор нет, а значит за ней ллегко ухаживать. 
                    .col
                        p Накладная раковина из бетона "Чаша" – это классика жанра. Это бетон во всем своем проявлении. И это универсальный дизайн. Самое приятное, что внутри чаши пор нет, 
                            br
                            | а значит за ней ллегко ухаживать. 
                    
            .gallery.row
                - var n = 0;  
                    while n < 1
                        .col
                            a.gallery__elem.gallery__elem--video(href="https://www.youtube.com/watch?v=4-1o0wmZUFE")
                                img(src="images/product/img"+(n+1)+"_thumb.jpg", alt="", loading="lazy")                                
                        - n++                      
                    while n < 6
                        .col
                            a.gallery__elem(href="images/product/img"+(n+1)+".jpg")
                                img(src="images/product/img"+(n+1)+"_thumb.jpg", alt="", loading="lazy")                                
                        - n++