section.section.section--text-results
    .container
        .results.row
            .results__elem.col
                .icon-wrapper
                    img(src="https://via.placeholder.com/172x173", alt="")
                .text-wrapper
                    p
                        span 252 
                        | довольных 
                        br
                        | клиентов
            .results__elem.col
                .icon-wrapper
                    img(src="https://via.placeholder.com/172x173", alt="")
                .text-wrapper
                    p
                        span 190 
                        | раковин
                        br
                        | из бетона
            .results__elem.col
                .icon-wrapper
                    img(src="https://via.placeholder.com/172x173", alt="")
                .text-wrapper
                    p
                        span 62 
                        | лавочки