//Блок Результаты работы
section.section.section--text-results
    .container
        .results.row
            .results__elem.col
                .icon-wrapper
                    img(src="https://via.placeholder.com/172x173", alt="")
                .text-wrapper
                    span 252 
                    p довольных 
                        br
                        | клиентов
            .results__elem.col
                .icon-wrapper
                    img(src="https://via.placeholder.com/172x173", alt="")
                .text-wrapper
                    span 190
                    p раковин
                        br
                        | из бетона
            .results__elem.col
                .icon-wrapper
                    img(src="https://via.placeholder.com/172x173", alt="")
                .text-wrapper
                    span 62 
                    p лавочки