section.section.section--text-type2
    .container
        .row
            .col
                h2 Комбинируя цвета 
                    br
                    | и другие материалы
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
            .image-col.col
                .row
                    .col
                        img(src="https://via.placeholder.com/290x290", alt="")
                    .col
                        img(src="https://via.placeholder.com/290x290", alt="")
        .row
            .col
                h2 Комбинируя цвета 
                    br
                    | и другие материалы
                p Современные методы производста и обработки в этой сфере позволяют достигать необкновенно красивых, матовых и глянцевых поверхностей разных цветов с вкраплениями натуральных камней.
            .image-col.col
                img(src="https://via.placeholder.com/620x290", alt="")
