section.section.section--text-type1
    .container
        h1 Что такое бетон?
        .img-wrapper
            img(src="https://via.placeholder.com/1200x231", alt="")
        .row
            .col
                p Бетон (от фр. béton) — искусственный каменный строительный материал, получаемый в результате формования и затвердевания рационально подобранной и уплотнённой смеси, состоящей из вяжущего вещества (цемент или др.), крупных и мелких заполнителей, воды. 
            .col
                p Бетон (от фр. béton) — искусственный каменный строительный материал, получаемый в результате формования и затвердевания рационально подобранной и уплотнённой смеси, состоящей из вяжущего вещества (цемент или др.), крупных и мелких заполнителей, воды. В ряде случаев может иметь в составе специальные добавки, а также не содержать воды (например, асфальтобетон).