section.section.section--text-type3
    .container
        h2 Комбинируя цвета
            br
            | и другие материалы
        .row
            .col          
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            .col
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
        .img-wrapper
            img(src="https://via.placeholder.com/1200x373", alt="")
        .row
            .col
                p Бетон (от фр. béton) — искусственный каменный строительный материал, получаемый в результате формования и затвердевания рационально подобранной и уплотнённой смеси, состоящей из вяжущего вещества (цемент или др.), крупных и мелких заполнителей, воды. 