//Блок контакты
section.section.section--contacts.section--contacts-contacts
    .container
        .row
            .text-col.col
                h2 Контакты
                p ООО "Петробетон"
                p 454000, Челябинск, ул. Троицкий тракт, 20а
                p
                    strong Отправляем по всей России!
                p
                    a(href="www.petrobeton.com") www.petrobeton.com
                p
                    a(href="tel:8 (499) 877-56-25") 8 (499) 877-56-25
                p
                    a(href="mailto:concrete@petrobeton.com") concrete@petrobeton.com
                p Instagram: 
                    a(href="https://instagram.com") @petrobeton
                p
                    a(href="https://www.houzz.ru/hznb/professionaly/mebely-i-aksessuary/petrobeton-pfvwgb-pf~2048657210?") Мы на Houzz.ru
            .map-col.col
                #map
                //-script(type="text/javascript" charset="utf-8" async="" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A9e336a8b3d6ddda15a1470c6a205e03ba6c38e26cd7b19df37147c53b74fc4cb&amp;width=100%25&amp;height=502&amp;lang=ru_RU&amp;scroll=true") 