//Блок Контакты
section.section.section--contacts
    .container
        .row
            .text-col.col
                h2 Как нас найти
                p Адрес: г. Челябинск, 
                    br
                    | ул Троицкий тракт, 20а
            .map-col.col
                #map
                //-script(type="text/javascript" charset="utf-8" async="" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A9e336a8b3d6ddda15a1470c6a205e03ba6c38e26cd7b19df37147c53b74fc4cb&amp;width=100%25&amp;height=502&amp;lang=ru_RU&amp;scroll=true") 