//Блок Наш опыт
section.section.section--experience
    .container
        .row
            .title-col.col
                h2 Опыт
            .story-col.col
                .photo-wrapper
                    img(src="https://via.placeholder.com/288x342", alt="")
                    p Пётр Агарышев
                .content-wrapper
                    p Cоздана компания в 2015 году.
                    p За все вреся существования мы совершили не мало ошибок, но научились изготавливать зделия высокого качества
                    p Ключевым этапом служит команда: 
                        br
                        | Обучаем сотрудников сами 
                        br
                        | Все в цехе работают по регламенту и проводят проверку изделий на каждом этапе передачи по участкам
                        br
                    p На качество также влияют материалы из которых мы создаем изделия: 
                        br
                        | Используем японскую фибру, суперклассификатор немецкой фирмы "BASF"