//Блок Скачать каталог
section.section.section--get-3d-catalog
    .container
        .row
            .title-col.col
                h2 Скачать каталог 
                    br
                    | 3D моделей
            .sphere-col
            .link-col.col
                p Каталог содержит 3D модели 
                    br
                    | 26 основных видов изделий 
                    br
                    | Лимитированны изделия под заказ
                a(href="#").button.button--dark Скачать