section.section.section--get-price
    .container
        .row
            .text-col.col
                h2 Заказать
                    br
                    | расчет стоимости
            .form-col.col
                form.form(action="")
                    input(type="text" placeholder="Ваше имя")
                    input(type="tel" placeholder="+7 999 999 99 99")
                    button(type="submit").button.button--dark Заказать