//Интро блок
section.section.section--intro
    .container.container--main
        .top-row.row
            .text-col.col
                h1 Создание эксклюзивных 
                    br
                    | изделий из бетона
                p по вашему дизайну 
                    br
                    | с доставкой и монтажом по России 
                    br
                    | от 10 дней и гарантия 5 лет
            .list-col.col
                .list-col__elem
                    .img-wrapper
                        img(src="images/index/intro/icon1.svg", alt="")
                    p Участники проекта «Идеальный ремонт» и Дачный ответ
                .list-col__elem
                    .img-wrapper
                        img(src="images/index/intro/icon2.svg", alt="")
                    p Эксперты международной ассоциации Concrete Cooperation
                .list-col__elem
                    .img-wrapper
                        img(src="images/index/intro/icon3.svg", alt="")
                    p Эксперты портала дизайна интерьеров Houzz.ru
        .bottom-row.row
            .button-col.col
                button(data-micromodal-trigger="modal-order").button.button--light Оформить заказ
            .phone-col.col
                a(href="tel:+7 999 587-74-27") +7 999 587-74-27
    .container.container--list-mobile.d-none
        .list-col.list-col--mobile.d-none
            .list-col__elem
                .img-wrapper
                    img(src="images/index/intro/icon1_black.svg", alt="")
                p Участники проекта «Идеальный ремонт» и Дачный ответ
            .list-col__elem
                .img-wrapper
                    img(src="images/index/intro/icon2_black.svg", alt="")
                p Эксперты международной ассоциации Concrete Cooperation
            .list-col__elem
                .img-wrapper
                    img(src="images/index/intro/icon3_black.svg", alt="")
                p Эксперты портала дизайна интерьеров Houzz.ru