section.section.section--intro
    .container
        .top-row.row
            .text-col.col
                h1 Создание эксклюзивных 
                    br
                    | изделий из бетона
                p по вашему дизайну 
                    br
                    | с доставкой и монтажом по России 
                    br
                    | от 10 дней и гарантия 5 лет
            .list-col.col
                .list-col__elem
                    .img-wrapper
                        img(src="images/index/intro/icon1.svg", alt="")
                    p Участники проекта «Идеальный ремонт» и Дачный ответ
                .list-col__elem
                    .img-wrapper
                        img(src="images/index/intro/icon2.svg", alt="")
                    p Эксперты международной ассоциации Concrete Cooperation
                .list-col__elem
                    .img-wrapper
                        img(src="images/index/intro/icon3.svg", alt="")
                    p Эксперты портала дизайна интерьеров Houzz.ru
        .bottom-row.row
            .button-col.col
                a(href="#").button.button--light Оформить заказ

            //-svg(height="1px")
                line(x1="0" y1="0" x2="100%" y2="0" stroke="#fff" stroke-width="2px" stroke-dasharray="17px 7px 11px 7px 1000px")
            .phone-col.col
                a(href="tel:+7 999 587-74-27") +7 999 587-74-27