section.section.section--results
    .container
        h2 Итоги 2019
        .results.row
            .results__elem.col
                .icon-wrapper
                    img(src="https://via.placeholder.com/172x173", alt="")
                .text-wrapper
                    p
                        span 252 
                        | довольных 
                        br
                        | клиентов
            .results__elem.col
                .icon-wrapper
                    img(src="https://via.placeholder.com/172x173", alt="")
                .text-wrapper
                    p
                        span 190 
                        | раковин
                        br
                        | из бетона
            .results__elem.col
                .icon-wrapper
                    img(src="https://via.placeholder.com/172x173", alt="")
                .text-wrapper
                    p
                        span 62 
                        | лавочки
            .results__elem.col
                .icon-wrapper
                    img(src="https://via.placeholder.com/172x173", alt="")
                .text-wrapper
                    p
                        span 69 
                        | м² столешниц
            .results__elem.col
                .icon-wrapper
                    img(src="https://via.placeholder.com/172x173", alt="")
                .text-wrapper
                    p
                        span 14 
                        | тонн бетонных
                        br
                        | изделий

