//Блок Результаты работы
section.section.section--results
    .container
        h2 Итоги 2019
        .results.row
            .results__elem.col
                .icon-wrapper
                    img(src="https://via.placeholder.com/172x173", alt="")
                .text-wrapper
                    span 252 
                    p довольных 
                        br
                        | клиентов
            .results__elem.col
                .icon-wrapper
                    img(src="https://via.placeholder.com/172x173", alt="")
                .text-wrapper
                    span 190 
                    p раковин
                        br
                        | из бетона
            .results__elem.col
                .icon-wrapper
                    img(src="https://via.placeholder.com/172x173", alt="")
                .text-wrapper
                    span 62
                    p лавочки
            .results__elem.col
                .icon-wrapper
                    img(src="https://via.placeholder.com/172x173", alt="")
                .text-wrapper
                    span 69
                    p м² столешниц
            .results__elem.col
                .icon-wrapper
                    img(src="https://via.placeholder.com/172x173", alt="")
                .text-wrapper
                    span 14
                    p тонн бетонных
                        br
                        | изделий

