section.section.section--text
    .container
        .row
            .col
                h2 Столешницы 
                    br
                    | и раковины из бетона
                p Серый, угрюмый, шершавый и пыльный — таким мы привыкли видеть бетон.
                p Современные технологии и методы обработки, а главное умение взглянуть на старое по-новому, позволяют изготовить необыкновенно красивые изделия:
                ul
                    li Глянцевая или матовая поверхность любого цвета, приятная на ощупь не оставит равнодушным ни одного эстета.
                    li Патина, микропоры, белесые пятна от цементного молочка - эти черты бетона оценят истинные ценители натуральных материалов.
                    li И наконец, раковина из бетона сделанная в ручную, специально для вас, станет уникальным предметом искусства в вашем интерьере.
                p Все это ставит бетон на один уровень с натуральным камнем и, просто, незаменимым в лофт интерьере!

            .col
                h2 Как же себя поведет столешница или раковина в эксплуатации?
                p Этот общий вопрос включает в себя несколько более конкретных вопросов:
                ul
                    li Сколько весит столешница из бетона?
                    li Какая гарантия, что на ней не появятся трещины или не начнет крошится?
                    li Можно ли на бетонной столешнице резать ножом?
                    li Что будет, если поставить горячую сковороду на бетон?
                    li Бетон впитывает воду и пачкается?
                    li Как ухаживать за раковиной из бетона?
                    li Сколько средний срок эксплуатации бетонного изделия?
                p На эти и некоторые другие вопросы, мы постарались ответить в разделе "Бетон в эксплуатации"
            .col
                h2 Вот лишь несколько преимуществ бетонной столешницы или раковины: 
                ol
                    li экологичность;
                    li эксклюзивность;
                    li декоративность.
                p Полный обзор преимуществ находится 
                    a(href="text.html") здесь.


