.section--product {
	h1 {
		margin-bottom: 46px;
		@include mobile {
			margin-bottom: 17px;
		}
	}

	.col {
		width: 100%;
		max-width: 50%;
	}

	.product-block {
		margin: 0;
		margin-bottom: 150px;

		@include tablet {
			flex-direction: column;
		}

		@include mobile {
			margin-bottom: 88px;
		}

		.col {
			padding: 0;
		}

		.img-col {
			position: relative;
			z-index: 10;

			@include mobile {
				max-width: 100%;
			}

			img {
				width: 100%;
			}
		}

		.description-col {
			position: relative;
			padding: 65px 126px 79px 130px;
			background: #F3F3F3;
			z-index: 1;
			transform: translatey(35px);

			@media screen and (max-width: 1300px) {
				padding: 65px 66px 79px 90px;
			}

			@include tablet {
				max-width: 100%;
				margin-top: -117px;
				padding-top: 182px;
				padding: 182px 55px 79px 55px;
				transform: none;
			}

			@include mobile {
				padding: 135px 0 45px 0;
			}

			&::before {
				position: absolute;
				top: 0;
				left: 0;
				width: 100px;
				height: 100%;
				background: #F3F3F3;
				content: '';
				transform: translateX(-100%);
				z-index: -1;

				@include tablet {
					width: calc(100% + 40px);
					transform: translateX(-20px)
				}
			}

			h2 {
				margin-bottom: 15px;
				font-size: 26px;
				line-height: 33px;
			}

			.description,
			.params {
				position: relative;
				margin-bottom: 35px;
				padding-bottom: 25px;
				border-bottom: 1px solid #C0C0C0;

				&::before {
					position: absolute;
					left: -29px;
					background-size: contain;
					background-position: center;
					background-repeat: no-repeat;
					content: '';
					transform: translateX(-100%);
				}
			}

			.description {
				&::before {
					top: 2px;
					width: 25px;
					height: 30px;
					background-image: url('../images/product/icon_doc.svg');

					@include mobile {
						content: none;
					}
				}

				p {
					margin-bottom: 10px;
				}
			}

			.params {
				&::before {
					top: 6px;
					width: 22px;
					height: 22px;
					background-image: url('../images/product/icon_params.svg');

					@include mobile {
						content: none;
					}
				}

				h2 {
					margin-bottom: 37px;
				}

				ul {
					margin-bottom: 10px;
					padding: 0;

					li {
						margin-bottom: 37px;
						list-style-type: none;

						@include mobile {
							margin-bottom: 26px;
						}
					}
				}
			}

			.get-3d {
				color: #000;
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}

				&-wrapper {
					margin-bottom: 51px;

					@include mobile {
						margin-bottom: 24px;
					}
				}
			}

			.price {
				display: inline-block;
				padding: 11px 15px;
				min-width: 247px;
				margin-bottom: 0;
				background: #DEDEDE;
				font-size: 30px;
				line-height: 38px;
				text-align: center;
			}
		}
	}

	.info-wrapper {
		position: relative;
		z-index: 1;

		&::before {
			position: absolute;
			top: 0;
			right: -20px;
			width: 45%;
			height: 100vh;
			border: 30px solid rgba(#C4C4C4, 0.2);
			border-right: 0;
			z-index: -1;

			@include mobile {
				content: '';
			}
		}

	}

	.text-block {
		margin-bottom: 65px;

		@include mobile {
			margin-bottom: 25px;
		}

		.row {
			flex-wrap: wrap;
		}

		.col {
			width: 100%;
			max-width: 50%;

			@include mobile {
				max-width: 100%;
			}
		}

		h2 {
			margin-bottom: 20px;
			font-size: 26px;
			line-height: 22px;

			@include mobile {
				margin-bottom: 25px;
			}
		}

		p {
			max-width: 470px;
			font-size: 16px;
			line-height: 22px;
		}
	}

	.gallery {
		margin: 0 -20px 92px;
		flex-wrap: wrap;

		.col {
			width: 100%;
			max-width: calc(100% / 3);
			margin-bottom: 40px;
			padding: 0 20px;

			@media screen and (max-width: 900px) {
				max-width: 50%;
			}

			@include mobile {
				max-width: 100%;
				margin-bottom: 30px;
			}
		}

		&__elem {
			display: block;

			a {
				img {
					width: 100%;
				}
			}
		}
	}
}
