//Хлебные крошки
section.section.section--breadcrumbs
    .container
        .breadcrumbs
            ul
                li
                    a(href="/") Главная
                li
                    span Каталог изделий