section.section.section--catalog
    .container
        h1 Каталог изделий
        .catalog.row
            .col
                a(href="product.html").catalog__elem
                    img(src="images/catalog/img1.jpg", alt="")
                    h6 Раковины 
                        br
                        | и мойки
            .col
                a(href="product.html").catalog__elem
                    img(src="images/catalog/img2.jpg", alt="")
                    h6 Столешницы 
                        br
                        | и столы
            .col
                a(href="product.html").catalog__elem
                    img(src="images/catalog/img3.jpg", alt="")
                    h6 Поддоны 
                        br
                        | и ванны
            .col
                a(href="product.html").catalog__elem
                    img(src="images/catalog/img4.jpg", alt="")
                    h6 Панели 
                        br
                        | и плитка
            .col
                a(href="product.html").catalog__elem
                    img(src="images/catalog/img5.jpg", alt="")
                    h6 Кашпо 
                        br
                        | и вазоны