.section--catalog-typical {
	position: relative;
	padding-top: 100px;
	padding-bottom: 80px;
	z-index: 10;
	overflow: hidden;

	.container {
		position: relative;
		padding-top: 75px;
		padding-bottom: 44px;
		z-index: 1;

		&::before {
			position: absolute;
			top: 40px;
			left: -56px;
			width: 16px;
			height: 40px;
			background-image: url('../images/index/catalog_typical/marker.svg');
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			content: '';
		}

		&::after {
			position: absolute;
			top: 0;
			left: calc(50% + 47px);
			width: 70vw;
			height: 100%;
			box-shadow: 0 0 0 40px #C4C4C4;
			opacity: 0.2;
			content: '';
			z-index: -1;
		}
	}

	.text-col {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		padding-bottom: 119px;

		.slider-nav-menu {
			margin: 0;
			margin-top: auto;
			padding: 0;

			li {
				list-style-type: none;

				a {
					font-size: 16px;
					line-height: 22px;
					color: #6D6D6D;
					text-decoration: none;
					transition: color 0.2s;

					&:hover {
						text-decoration: underline;
					}

					&.active {
						color: #000;
						text-decoration: underline;
					}
				}
			}
		}
	}

	.slider-col {
		position: relative;
		max-width: 832px;
		z-index: 10;

		.catalog-typical {
			margin-bottom: 30px;

			&__elem {
				&:first-child {
					position: relative;

					&::before {
						position: absolute;
						right: 0;
						top: 0;
						font-size: 10px;
						line-height: 13px;
						letter-spacing: 0.3em;
						text-transform: uppercase;
						color: #000;
						content: 'petrobeton';
						transform-origin: 0 0;
						transform: translateX(100%) translateX(23px) rotate(90deg);

					}
				}

				a {
					position: relative;
					display: block;
					background: #000;

					&::before {
						position: absolute;
						top: calc(50% - 15px);
						left: calc(50% - 27px);
						height: 30px;
						padding-left: 77px;
						background-image: url('../images/common/gallery_hover.svg');
						background-position: left center;
						background-size: 63px 30px;
						background-repeat: no-repeat;
						font-size: 12px;
						line-height: 30px;
						color: #fff;
						content: 'Перейти';
						z-index: 1;
						opacity: 0;
						transition: opacity 0.2s;
					}

					&::after {
						position: absolute;
						top: 50%;
						right: calc(50% + 45px);
						width: 49px;
						height: 1px;
						background: #fff;
						content: '';
						z-index: 1;
						opacity: 0;
						transition: opacity 0.2s;
					}

					img {
						display: block;
						width: 100%;
						transition: opacity 0.2s, filter 0.2s linear;
					}

					&:hover {

						&::before,
						&::after {
							opacity: 1;
						}

						img {
							opacity: 0.4;
							filter: blur(5px);
						}
					}
				}
			}
		}

		.swiper-nav {
			display: flex;
			justify-content: flex-end;
		}
	}
}
