.section--contacts {
	.container {
		position: relative;
		padding-top: 67px;
		padding-bottom: 90px;
		overflow: hidden;
		z-index: 1;

		@include tablet {
			padding-top: 32px;
			padding-bottom: 99px;
		}

		&::before {
			position: absolute;
			top: 172px;
			left: 50%;
			width: 822px;
			height: 822px;
			border-radius: 50%;
			box-shadow: 0 0 0 40px #C4C4C4;
			opacity: 0.2;
			content: '';
			transform: translateX(-50%);
			z-index: -1;

			@include tablet {
				content: none;
			}
		}
	}

	.row {
		@include tablet {
			flex-direction: column;
		}
	}

	.text-col {
		max-width: 340px;
		padding-top: 17px;
		padding-right: 55px;

		@include tablet {
			max-width: 100%;
			padding-top: 0;
			padding-right: 20px;
		}

		h2 {
			margin-bottom: 25px;
		}

		p {
			font-size: 16px;
			line-height: 20px;

			@include tablet {
				margin-bottom: 27px;
			}

			a {
				color: #000;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	.map-col {
		flex-grow: 1;

		@include tablet {
			max-width: 100%;
			padding: 0;
		}

		#map {
			height: 502px;
			background: #F3F3F3;
		}
	}

	&-contacts {
		.container {
			&::before {
				content: none;
			}
		}
	}
}
