.section--gallery {
	position: relative;
	padding-top: 133px;
	padding-bottom: 100px;
	overflow: hidden;

	&::before {
		position: absolute;
		top: 0;
		right: 50%;
		width: 100vw;
		height: calc(100% - 44px);
		background: #F3F3F3;
		content: '';
		transform: translateX(360px);
	}

	.container {
		position: relative;

		&::after {
			position: absolute;
			top: -45px;
			left: -56px;
			width: 16px;
			height: 46px;
			background-image: url('../images/index/gallery/marker.svg');
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			content: '';
		}
	}

	.text-col {
		max-width: 35%;
		display: flex;
		flex-direction: column;
		padding-bottom: 55px;
		padding-right: 80px;

		h2 {
			margin-bottom: 29px;
		}

		p {
			margin-bottom: 12px;
		}

		.gallery-slider-thumb {
			width: 284px;
			margin: 0;
			margin-top: auto;

			&__elem {
				opacity: 0.5;
				cursor: pointer;
				transition: opacity 0.2s;

				img {
					width: 100%;
				}

				&:hover {
					opacity: 0.7;
				}

				&.swiper-slide-thumb-active {
					opacity: 1;
				}
			}
		}
	}

	.slider-col {
		max-width: 65%;

		.gallery-slider {
			margin-bottom: 35px;

			&__elem {
				width: 100%;

				a {
					display: inline-block;

					img {
						width: 100%;
					}
				}

				.gallery__elem--video {
					&::after {
						width: 160px;
						height: 160px;
						opacity: 1;
					}
				}
			}
		}
	}
}
