.section--gallery {
	position: relative;
	padding-top: 133px;
	padding-bottom: 100px;
	overflow: hidden;

	@include mobile {
		padding-top: 27px;
		padding-bottom: 34px;
	}

	&::before {
		position: absolute;
		top: 0;
		right: 50%;
		width: 100vw;
		height: calc(100% - 44px);
		background: #F3F3F3;
		content: '';
		transform: translateX(360px);

		@include tablet {
			transform: translateX(180px);
		}

		@include mobile {
			width: calc(100% - 20px);
			left: 0;
			right: auto;
			transform: none;
		}
	}

	.container {
		position: relative;

		&::after {
			position: absolute;
			top: -45px;
			left: -36px;
			width: 16px;
			height: 46px;
			background-image: url('../images/index/gallery/marker.svg');
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			content: '';

			@media screen and(max-width: 1400px) {
				content: none;
			}
		}
	}

	.row {
		@include mobile {
			flex-direction: column-reverse;
		}
	}

	.text-col {
		max-width: 35%;
		display: flex;
		flex-direction: column;
		padding-bottom: 55px;
		padding-right: 80px;

		@include tablet {
			padding-right: 20px;
		}

		@include mobile {
			max-width: 100%;
		}

		h2 {
			margin-bottom: 29px;

			@include mobile {
				display: none;
			}
		}

		p {
			margin-bottom: 12px;
		}

		.gallery-slider-thumb {
			width: 284px;
			margin: 0;
			margin-top: auto;

			@include tablet {
				display: none;
			}

			&__elem {
				opacity: 0.5;
				cursor: pointer;
				transition: opacity 0.2s;

				img {
					width: 100%;
				}

				&:hover {
					opacity: 0.7;
				}

				&.swiper-slide-thumb-active {
					opacity: 1;
				}
			}
		}
	}

	.slider-col {
		max-width: 65%;

		@include mobile {
			max-width: 100%;
			margin-bottom: 54px;
			padding-right: 0;
		}

		.h2-wrap {
			@include mobile {
				display: block !important;
				margin-bottom: 20px;
				padding-right: 20px;
			}
		}

		.gallery-slider {
			margin-bottom: 35px;

			&__elem {
				width: 100%;

				a {
					display: block;

					img {
						width: 100%;
					}
				}

				.gallery__elem--video {
					&::after {
						width: 160px;
						height: 160px;
						opacity: 1;

						@media screen and (max-width: 500px) {
							width: 80px;
							height: 80px;
						}
					}
				}
			}
		}
	}
}
