.section--instagram {
	position: relative;
	padding-top: calc(78px + 77px);
	padding-bottom: calc(67px + 100px);

	&::before {
		position: absolute;
		top: 78px;
		left: 0;
		width: 62%;
		height: calc(100% - 145px);
		background: #C4C4C4;
		opacity: 0.2;
		content: '';
	}

	.container {
		position: relative;

		&::before {
			position: absolute;
			top: -105px;
			left: -56px;
			width: 16px;
			height: 36px;
			background-image: url('../images/index/instagram/marker.svg');
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			content: '';
		}
	}

	h2 {
		margin-bottom: 45px;
	}

	.instagram {
		margin-bottom: 36px;

		&__elem {
			a {
				position: relative;
				display: block;
				width: 100%;
				background: #000;

				img {
					display: block;
					width: 100%;
					transition: opacity 0.2s, filter 0.2s linear;
				}

				&::before {
					position: absolute;
					top: calc(50% - 15px);
					left: calc(50% - 27px);
					height: 30px;
					padding-left: 77px;
					background-image: url('../images/common/gallery_hover.svg');
					background-position: left center;
					background-size: 63px 30px;
					background-repeat: no-repeat;
					font-size: 12px;
					line-height: 30px;
					color: #fff;
					content: 'Перейти';
					z-index: 1;
					opacity: 0;
					transition: opacity 0.2s;
				}

				&::after {
					position: absolute;
					top: 50%;
					right: calc(50% + 45px);
					width: 49px;
					height: 1px;
					background: #fff;
					content: '';
					z-index: 1;
					opacity: 0;
					transition: opacity 0.2s;
				}

				&:hover {

					&::before,
					&::after {
						opacity: 1;
					}

					img {
						opacity: 0.4;
						filter: blur(5px);
					}
				}
			}
		}

		&:not(.swiper-container-initialized) {
			margin-left: -15px;
			margin-right: -15px;

			.instagram__elem {
				max-width: calc(100% / 4 - 30px);
				padding: 0 15px;

				&:nth-child(n+5) {
					display: none;
				}
			}
		}
	}
}
