.section--intro {
	position: relative;
	padding-top: 240px;
	padding-bottom: 67px;
	background: #000;
	color: #fff;
	z-index: 1;

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url('../images/index/intro/bg.jpg');
		background-position: center;
		opacity: 0.7;
		content: '';
		z-index: -1;
	}

	.top-row {
		margin-bottom: 160px;
	}

	.bottom-row {
		justify-content: space-between;
		align-items: flex-end;
	}

	.text-col {
		flex-grow: 1;

		h1 {
			margin-bottom: 20px;
		}

		p {
			margin-bottom: 0;
			font-size: 20px;
			line-height: 25px;
		}
	}

	.list-col {
		max-width: 300px;

		&__elem {
			display: flex;
			align-items: center;

			&:not(:last-child) {
				margin-bottom: 55px;
			}

			.img-wrapper {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				min-width: 39px;
				margin-right: 25px;

				img {
					max-width: 100%;
				}
			}

			p {
				margin-bottom: 0;
				font-size: 12px;
				line-height: 15px;
			}
		}
	}

	.phone-col {
		a {
			display: inline-block;
			padding-bottom: 7px;
			font-size: 16px;
			color: #fff;
			text-decoration: none;
			box-shadow: 0 .5px 0 #fff;
			transition: box-shadow 0.2s;

			&:hover {
				box-shadow: none;
			}
		}
	}
}
