.section--results {
	padding-top: 104px;
	padding-bottom: 80px;

	@include mobile {
		padding-top: 50px;
		padding-bottom: 20px;
	}

	.container {
		position: relative;

		&::after {
			position: absolute;
			top: -55px;
			left: -36px;
			width: 15px;
			height: 57px;
			background-image: url('../images/index/results/marker.svg');
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			content: '';

			@media screen and(max-width: 1400px) {
				content: none;
			}
		}
	}

	h2 {
		margin-bottom: 67px;

		@include mobile {
			margin-bottom: 33px;
		}
	}
}
