.section--text-type1 {
	h1 {
		margin-bottom: 20px;
	}

	.img-wrapper {
		margin-bottom: 56px;

		img {
			width: 100%;
		}
	}

	.col {
		width: 100%;
        max-width: 50%;
        padding-right: 130px;
	}
}
