extends pug/base

append vars
    -
        var title = "Текстовая страница"
        meta.description = "Страница с текстом"
        meta.keywords = "Ключевые слова"
        var headerStyle = "dark"
        var menuCurrent = "index"

block content
    include pug/pages/text/_breadcrumbs.pug    
    .container        
        h1 Что такое бетон?
    include pug/pages/text/_text_type1.pug
    include pug/pages/text/_text_type2.pug
    include pug/pages/text/_text_type3.pug    
    include pug/pages/text/_text_type1.pug
    include pug/pages/text/_text_results.pug    
    include pug/pages/index/_catalog_typical.pug