// stylelint-disable at-rule-empty-line-before

@import "variables";
@import "functions";
@import "mixins";
@import "sprites";
@import "fonts";
@import "vendor";
@import "base";
@import "helpers";



body {
	font-family: 'Geometria', Helvetica, Geneva, Arial, sans-serif;
	font-size: 16px;
	line-height: 20px;
}

.container {
	width: 100%;
	max-width: 1230px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.row {
	display: flex;
	margin-left: -15px;
	margin-right: -15px;
}

.col {
	padding-left: 15px;
	padding-right: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
}

h1 {	
	font-size: 50px;
	font-weight: normal;
	line-height: 63px;
}

h2 {
	font-size: 30px;
	font-weight: normal;
	line-height: 38px;
}

p {
	margin-top: 0;
}

.d-none {
	display: none;
}


//Common
@import "common/header";
@import "common/footer";
@import "common/breadcrumbs";
@import "common/forms";
@import "common/swiper";
@import "common/gallery";
@import "common/results";

//Index
@import "pages/index/intro";
@import "pages/index/gallery";
@import "pages/index/catalog_typical";
@import "pages/index/catalog_individual";
@import "pages/index/reviews";
@import "pages/index/get_price";
@import "pages/index/faq";
@import "pages/index/results";
@import "pages/index/get_3d_catalog";
@import "pages/index/experience";
@import "pages/index/instagram";
@import "pages/index/contacts";
@import "pages/index/text";

//Product
@import "pages/product/product";

//Catalog
@import "pages/catalog/catalog";

//Text
@import "pages/text/text_type1";
@import "pages/text/text_type2";
@import "pages/text/text_type3";
@import "pages/text/text_results";

