footer.footer
    .container
        .row
            .logo-col.col
                a(href="/")
                    img(src="images/common/logo_dark.svg", alt="")
                p © 2016 «Петробетон»
            .contacts-col.col
                a(href="tel:8 (499) 877-56-80") 8 (499) 877-56-80
                a(href="mailto:greybeton@petrobeton.com") greybeton@petrobeton.com
            .social-col.social.col(role="navigation")
                .social__wrapper
                    a(href="https://instagram.com" target="_blank").social__link.social__link--insta
                    a(href="https://vk.com" target="_blank").social__link.social__link--vk
                    a(href="https://facebook.com" target="_blank").social__link.social__link--fb
            .get-catalog-col.col
                a(href="#").button.button--dark скачать каталог